/* You can add global styles to this file, and also import other style files */
*{
margin:0 px;
box-sizing: border-box;
}

body{
background-image: linear-gradient(-20deg, #2b5876 0%, #4e4376 100%);
background-size:cover;
background-repeat:fixed;
background-position:center;
text-align: center;
color:#fff;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
font-size: 1.25em;
padding: 10px;
}
.title{
    text-align: center;
    color:#fff;
}
::placeholder{
color: black;
font-style: italic;
}
.btn{
    width:80px;
    background-color:rgb(243, 65, 21);
    border-radius:5%;
    margin-right:0px;
}
.add-btn{
    background-color:green;
    width:100px;
    height:40px;
    padding:10px;
    margin:10px;
}
.input-text{
    width:250px;  
    height:40px;
}
.list{

    color:black;
    display: block;
    margin:0 auto;
}

li{
list-style-type:none;
}